.top-bar {
    margin: 0px;
    background-color: #585858;
    padding: 5px;
    height: 50px;
    line-height: 40px;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
  }
  
  .top-bar-links {
    justify-content: space-between;
  }