html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

.left { 
  position: absolute;
  top: 75px;
  left: 0;
  bottom: 0;
  width: 200px; 
  /*background-color: #2d7cbd;*/
  background-image: linear-gradient(0deg, #045832 0%, #232a85 100%); /*#045832 #232a85 */
} 
/*
background-color: #333333;
*/

.right { 
  position: absolute;
  width: calc(100% - 200px); 
  height: calc(100% - 75px);
  top: 75px;
  left: 200px;
  bottom: 0;
}

.top-bar {
  margin: 0px;
  background-color: #2a2b2a;
  padding: 5px;
  height: 75px;
  line-height: 60px;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
}

.top-bar-links {
  display: table;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.menuItem {
  width: calc(100% - 16px);
  padding: 5px;
  font-weight: bold;
  font-size: 22px;
  margin: 5px 8px 5px 8px;
  background-color: #35afe7;
  /*background-color: #2c8cff;*/
  border: 0;
  border-radius: 5px;
  border: 1px solid black;
}
/* 
background-color: #252526;
color: rgb(200, 221, 228); 
*/

.menuItem:hover {
  background-color: #41c1fc;
  cursor: pointer;
}

.menuItem:active {
  background-color: #088dc2;
}

.img-sidemenu {
  position: absolute;
  height: 25px;
  left: 15px;
}

.img-table {
  height: 30px;
  padding: 5px;
  cursor: pointer;
}

.logo {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.logo:hover {
  cursor: pointer;
}

.logout {
  position: absolute;
  right: 0px;
  top: 15px;
}
.logout {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: white;
  background: none;
  border: 0px;
  cursor: pointer;
}

.register {
  padding: 7px;
  width: 30%;
  margin: 10px 0px 10px 20px;
  font-weight: bold;
  background-color: #78db64;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

.container-middle {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  /*background-color: #088dc2;*/
  background-image: linear-gradient(0deg, #045832 0%, #232a85 100%); /*#045832 #232a85 */
}

.form-middle {
  display: block;
  margin: auto;
  max-width: 280px;
}

.login-label {
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 30px;
}

.login-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 0px 5px 0px;
  font-size: 26px;
}

.login-button {
  color: white;
  background: #2c8cff;
  /*background-color: #35afe7;*/
  width: 100%;
  border: 0px;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;  
  font-size: 20px;
}

.login-button:hover {
  background-color: #4dbbee;
  cursor: pointer;
}


.middle {
  text-align: center;
}

table {
  table-layout: fixed;
  width: calc(100% - 20px);
  margin-left: 10px;
  border-collapse: collapse;
  word-wrap: break-word;
}

tr:nth-child(even) {
  background-color: #eaeaea;
}

tr:first-child { 
  background: #35afe7;
}
th:last-child {
  width: 90px;
}
th:nth-last-child(2) {
  width: 20%;
}
th, tr {
  border: 1px solid black;
  padding: 5px;
}
th div {
  height: 60px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.register-box {
  display: block;
  margin: auto;
  max-width: 400px;
}

.register-box h2 {
  /*margin: 0 0 30px;
  padding: 0;*/
  color: black;
  text-align: center;
  font-size: larger;
}

.register-box label {
  display: inline-block;
  width: 100%;
  color: black;
  font-size: 20px;
  margin-top: 5px;
}

.register-box input[type=text] {
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 0px 5px 0px;
  font-size: 15px;
  text-indent: 5px;
}

.register-box button {
  color: black;
  /*background: #2c8cff;*/
  background-color: #35afe7;
  /*width: 100%;*/  
  border: 0px;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;  
  font-size: 20px;
  font-weight: bold;
}

.register-box button:hover {
  background-color: #41c1fc;
  cursor: pointer;
}

.register-box button:active {
  background-color: #088dc2;
}

.register-box .radio-box {
  display: flex;
  float: left;
  margin: 0px 50px 0px 0px;
}

.register-box .radio-box [type=radio] {
  vertical-align: middle;
  cursor: pointer;
  margin-top: 10px;
}

.register-box textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 0px 5px 0px;
  font-size: 15px;
  text-indent: 5px;
}

.register-box .button-actions {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; 
  /*padding:20px;*/
}

.register-box .button-actions .cancel-button {
  background-color: #f30606;
}
.register-box .button-actions .cancel-button:hover {
  background-color: #ff3939;
}
.register-box .button-actions .cancel-button:active {
  background-color: #db0000;
}

.register-box .h3 {
  font-size: 20px;
  font-weight: bold;
}