html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 20px;
  
} 

.left { 
  position: absolute;
  top: 75px;
  left: 0;
  bottom: 0;
  width: 200px; 
  background-color: #2d7cbd;
} 

.right { 
  position: absolute;
  width: calc(100% - 200px); 
  height: calc(100% - 75px);
  top: 75px;
  left: 200px;
  bottom: 0;
}

.top-bar {
  margin: 0px;
  background-color: #2a2b2a;
  padding: 5px;
  height: 75px;
  line-height: 60px;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
}

.top-bar-links {
  display: table;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.menuItem {
  width: calc(100% - 16px);
  padding: 5px;
  font-weight: bold;
  font-size: 22px;
  margin: 5px 8px 5px 8px;
  background-color: #35afe7;
  border: 0;

  
}

.menuItem:hover {
  background-color: #41c1fc;
  cursor: pointer;
}

.menuItem:active {
  background-color: #088dc2;
}

img {
  position: absolute;
  height: 25px;
  left: 15px;
}

tr:nth-child(even) {
  background-color: #eaeaea;
}

.logo {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.logo:hover {
  cursor: pointer;
}

.logout {
  position: absolute;
  right: 0px;
}
.logout button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: white;
  background: none;
  border: 0px;
}

table {
  width: 100%;
}